@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    font-family: 'Six Caps', sans-serif;
    // off-white v1 background-color: #FAF9F6;
    // v2 background-color: #f8f8ff;
    background-color: #121313;
    color: #f2f2f2;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f2f2f2;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 25rem;
    letter-spacing: 0.15rem;
}

h2{
    font-size: 8rem;
    color: #0AF0FF;
    letter-spacing: 0.1rem;
}

h3{
    font-size: 10rem;
    letter-spacing: 0.1rem;
}

p {
    font-size: 3.2rem;
    line-height: 1.5;
    // font-family: 'Playfair Display', serif;
    font-family: 'Open Sans', sans-serif;
}

button{
    transition: all .4s ease-in-out;
}

textarea {
    font-size: 3.2rem;
    padding-left: 1rem;
}


/* Intro video styles */

.intro-video {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text2 h1 {
    color: #f2f2f2;
    font-size: 14rem;
    text-align: center;
    font-family: 'Six Caps', sans-serif;
    margin-bottom: 1rem;
}

.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* base style for navbar & title */

.main-head {
    width: 100%;
    margin: 0 0 0 auto;
    padding-top: 1rem;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-height: 10vh;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex: 0;
        img{
            width: 4rem;
            height: 4rem;
        }
    }
    .logo a {
        margin: 2rem;
        font-size: 4rem;
        color: #0AF0FF;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        font-size: 1.6rem;
        
        li{
            padding-left: 1rem;
            :last-of-type{
                padding-right: 1rem;
            }
        }
        
        
    }
    .btn-contact {
        background-color: transparent;
        padding: 8px 8px;
        width: 12rem;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(163, 163, 163);
        transition-duration: 0.4s;
        color: rgb(204, 204, 204);
        border-radius: 32px;
        &:hover {
            background-color: rgb(29, 29, 29);
            color: #F5F5F5;
        }
    }
}

nav li a:hover {
    text-transform: uppercase;
}

.name:hover {
    text-transform: uppercase;
}



/*Hero section  */


.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5rem 10rem;
    color: #f2f2f2;
    .luis-info {
        flex: 1;
    padding-right: 5rem;
    position: relative;
        .name {
            color: #0AF0FF;
        }
        .luis-bio {
            line-height: 1;
        }
        .me{
            flex: 1;
            padding-right: 5rem;
            width: 100%;
            height: 80vh;
            object-fit: cover;
            border-radius: 3.2rem;
       
        }
        .info-2{
            font-size: 2rem;
            padding-top: 1rem;
        }
    }
}



.me {
    width: 35rem;
    padding: 1rem 1rem 0rem 0rem;
    overflow-x: hidden;
    transform: rotate(10deg);
    border-radius: 3.2rem;
}

.wave{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;

}



//Headline section

.headline-info{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1rem;
    min-height: 40vh;
    position: relative;
    .life-bio{
        color: #0AF0FF;
        font-family: 'Six Caps', sans-serif;
        font-size: 6rem;
    }
    p{
        font-size: 2rem;
        text-transform: uppercase;
        margin-right: 4rem;
        
        justify-content: flex-end;
    }
    .wave2{
        position: absolute;
        z-index: -1;
      right: 0;
        bottom: -100%;
    
    }
    .LA{
        // width: 100%;
        // height: 80vh;
        // object-fit: cover;
        position: absolute;
        top: 0;
        height: 80vh;
        object-fit: cover;
        width: 50rem;
        padding: 4rem;
        opacity: 0;
        // display: none;
        z-index: -1;
        transition: all 1s ease-in-out;
        
        // max-width: 60rem;
    }
}

// .main-text{
//     transition: all 1s ease-in-out;
//     .LA{
//         transition: all 0.4s ease-in-out;
//     }
// }

.main-text:hover .LA {
    display: flex;
    opacity: 0.3;
   
    
    // transform: skew(-10deg);
}


.fadesample { 
	animation-name: fadeIn; 				
    animation-duration: 1s; 
    animation-timing-function: ease-in-out; 
    // transition: all 1s ease-in-out;
   
	} 
@keyframes fadeIn { 
	0% {opacity: 0;} // CSS properties at start
	100% {opacity: 0.3;} // CSS properties at end
	}















//projects 

.projects-title{
    min-height: 10vh;
    padding: 0rem 10rem;
    margin-top: 10rem;
    // padding:  10rem 10rem;
    display: flex;
    .projects-name{
        justify-self: flex-start;
        align-self: flex-start;
    }
}

.projects-name{
    h2{
        font-size: 10rem;
        color: #f2f2f2;
    }
}

.projects-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 90vh;
    .project-img{
        margin-right: 4rem;
        position: relative;
        .scifi{
            width: 60rem;
            height: 40rem;
            // padding-top: 4rem;
            // height: 80vh;
            object-fit: cover;
            transition: all 0.7s ease-in-out;
            &:hover{
                transform: skewY(7deg) scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
                // transform:  scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
            }
        }
    }
    .project-img2{
        margin-left: 4rem;
        margin-top: 20rem;
        .scifi2{
            width: 60rem;
            height: 40rem;
            // height: 80vh;
            
            transition: all 0.7s ease-in-out;
            object-fit: cover;
            &:hover{
                transform: skewY(-7deg) scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
            }
        }
    }
    .project-img3{
        // margin-top: 8rem;
        padding-bottom: 4rem;
        margin-right: 4rem;
        .scifi3{
            width: 60rem;
            height: 40rem;
            // height: 80vh;
           
            transition: all 0.7s ease-in-out;
            
            object-fit: cover;
            &:hover{
                transform: skewY(7deg) scale(0.95, 0.95);
                // transition: all 0.7s ease-in-out;
                // transform:  scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
            }
        }
    }
    .project-img4{
        margin-top: 20rem;
        padding-bottom: 4rem;
        margin-left: 4rem;
        .scifi4{
            width: 60rem;
            height: 40rem;
           
            transition: all 0.7s ease-in-out;
             object-fit: cover;
            &:hover{
                transform: skewY(-7deg) scale(0.95, 0.95);
                // transition: all 0.7s ease-in-out;
                // transform:  scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
            }
        }
    }
    .project-img5{
        margin-top: 8rem;
        padding-bottom: 4rem;
        // margin-left: 4rem;
        .scifi5{
            width: 80rem;
            height: 60rem;
           
            transition: all 0.7s ease-in-out;
            // height: 80vh;
            object-fit: cover;
            &:hover{
                transform:  scale(0.95, 0.95);
                transition: all 0.7s ease-in-out;
            }
        }
    }
    .project-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        p{
            font-size: 3rem;
            font-weight: bold;
            color: #f2f2f2;
           
        }
        .arrow{
            width: 3rem;
            height: 3rem;
        }
    }
}

.sub-title{
    margin-top: 1rem;
    p{
        font-size: 1.4rem;
        color: rgb(202, 202, 202);
    }
}

.overlay1 {
    position: absolute;
    bottom: 80%;
    right: 40%;
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    // color: #f1f1f1;
    width: 100%;
    // transition: .5s ease;
    opacity: 0;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    p {
        font-size: 4rem;
    }
}

/* JS TICKER */
.js-ticker {
    width: 100vw;
    min-height: 50vh;
    height: 50vh;
    position: relative;
    pointer-events: none;
    overflow-x: hidden;
    // margin-top: 10rem;
  }
  
  .js-ticker .wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
  }
  
  .js-ticker li {
    list-style: none;
    padding: 0;
    font-family: sans-serif;
    line-height: 50px;
    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10vw;
    display: inline-block;
    margin-right: 30px;
    font-size: 30rem;
    font-family: 'Six Caps', sans-serif;
  }


/* When you mouse over the container, fade in the overlay title */





.project-img:hover .overlay1 {
    opacity: 1;
}


/* Footer section  */

.connect {
    text-align: center;
    font-weight: bolder;
    font-size: 4rem;
    margin-top: 8rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}

.connect1 {
    text-align: center;
    font-size: 2rem;
    line-height: 8rem;
}

footer {
    min-height: 10vh;
    padding: 0% 5%;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.social-icons1 {
    margin-right: 3rem;
    width: 3em;
    height: 3rem;
    transition-duration: 0.4s;
    transition: all .4s ease-in-out;
}

.social-icons1,
.social-icons2 {
    margin-bottom: 8rem;
    
}

.social-icons2 {
    width: 3em;
    height: 3rem;
    transition-duration: 0.4s;
    transition: all .4s ease-in-out;
}

.social-icons1:hover {
    transform: scale(0.9, 0.9);
}

.social-icons2:hover {
    transform: scale(0.9, 0.9);
}


/*Media query for large section  */

// @media (max-width:1050px) {
//     .doodles {
//         width: 10rem;
//         height: 10rem;
//         position: absolute;
//         top: 20%;
//         right: 0%;
//         bottom: 0;
//     }
//     .doodles2 {
//         width: 10rem;
//         height: 10rem;
//         position: absolute;
//         bottom: 0;
//         left: 0%;
//     }
//     .doodles3 {
//         width: 2.5rem;
//         height: 2.5rem;
//         position: absolute;
//         bottom: 10%;
//         left: 4%;
//     }
//     .doodles4 {
//         display: none;
//     }
//     .doodles5 {
//         display: none;
//     }
//     br {
//         display: none;
//     }
//     .me {
//         width: 35rem;
//         height: 35rem;
//     }
// }

@media only screen and (min-width: 1050px) {
    
.main-head {
    width: 100%;
    margin: 0 0 0 auto;
    padding-top: 1rem;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-height: 10vh;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex: 0;
        img{
            width: 4rem;
            height: 4rem;
        }
    }
    .logo a {
        margin: 2rem;
        font-size: 4rem;
        color: #0AF0FF;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        font-size: 1.6rem;
        
        li{
            padding-left: 1rem;
            :last-of-type{
                padding-right: 1rem;
            }
        }
        
        
    }
    .btn-contact {
        background-color: transparent;
        padding: 8px 8px;
        width: 12rem;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(163, 163, 163);
        
        transition: all .4s ease-in-out;
        color: rgb(204, 204, 204);
        border-radius: 32px;
        &:hover {
            background-color: rgb(29, 29, 29);
            color: #F5F5F5;
        }
    }
}



.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  5rem 10rem;
    color: #f2f2f2;
    .luis-info {
        flex: 1;
    padding-right: 5rem;
    position: relative;
        .name {
            color: #0AF0FF;
        }
        .luis-bio {
            line-height: 1;
        }
        .me{
            flex: 1;
            padding-right: 5rem;
            width: 100%;
            height: 80vh;
            object-fit: cover;
            border-radius: 3.2rem;
       
        }
        .info-2{
            font-size: 2rem;
            padding-top: 2rem;
        }
    }
}

// .circle
// {
//     position: absolute;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background-color: #aaaaaa;
//     box-shadow: 0 0 15px 0 #aaaaaa;
// }

.me {
    width: 35rem;
    padding: 1rem 1rem 0rem 0rem;
    overflow-x: hidden;
    transform: rotate(10deg);
    border-radius: 3.2rem;
}

.wave{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;

}

  
    .connect {
        text-align: center;
        font-weight: bolder;
        font-size: 4rem;
        margin-top: 14rem;
        letter-spacing: 0.1rem;
        line-height: 4rem;
    }
    .connect1 {
        text-align: center;
        font-size: 2rem;
        line-height: 8rem;
    }
    footer {
        min-height: 10vh;
        padding: 0% 5%;
    }
    footer ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2rem;
    }
    .social-icons1 {
        margin-right: 3rem;
        width: 3em;
        height: 3rem;
    }
    .social-icons1,
    .social-icons2 {
        margin-bottom: 8rem;
    }
    .social-icons2 {
        width: 3em;
        height: 3rem;
    }
    .social-icons1:hover {
        transform: scale(0.9, 0.9);
    }
    .social-icons2:hover {
        transform: scale(0.9, 0.9);
    }
}


/*Media query for tablets and mid sized screens section  */

@media only screen and (max-width: 1400px) {
 
    h1{
        font-size: 20rem;
    }
   }

@media only screen and (max-width: 1200px) {
 
 h1{
     font-size: 10rem;
 }
}




@media only screen and (max-width: 1100px) {
    .hero{
        flex-direction: column-reverse;
        min-height: 80vh;
        padding-top: 6rem;
        br {
            display: none;
        }
        .luis-info{
            padding-top: 2rem;
        }
    }
    .me {
        width: 25rem;
        height: 25rem;
        border-radius: 3.2rem;
       
    }
    .luis-bio .luis-info2 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1280px) {
    .projects-section .project-img3 {
        margin-top: 8rem;
    }
    .projects-section .project-img2 {
        margin-top: 8rem;
    }
    .projects-section .project-img4 {
        margin-top: 8rem;
    }
   }

   @media only screen and (max-width: 768px) {
    .hero{
        padding: 5rem 5rem;
        h1{
            padding-top: 1rem;
        }
        .luis-info .info-2 {
            padding-top: 1rem;
        }
    }
    .projects-section .project-img5 .scifi5 {
        width: 60rem;
        height: 40rem;
    }
   }
   


@media only screen and (max-width: 700px) {
    .headline-info{
        br{
            display: none;
        }
    }
  .projects-section{
    .project-img{
        margin-right: 0rem;
        
        .scifi{
            max-width: 50rem;
            max-height: 30rem;
         
        }
    }
    .project-img2{
        margin-left: 0rem;
        margin-top: 8rem;
        .scifi2{
            max-width: 50rem;
            max-height: 30rem;
        }
    }

    .project-img3{
        margin-top: 8rem;
       padding-bottom: 0rem;
        margin-right: 0rem;
        .scifi3{
            max-width: 50rem;
            max-height: 30rem;
            
        }
    }
    .project-img4{
        margin-top: 8rem;
        padding-bottom: 0rem;
        margin-left: 0rem;
        .scifi4{
            max-width: 50rem;
            max-height: 30rem;
        }
    }
    .project-img5{
        margin-top: 8rem;
        padding-bottom: 4rem;
        // margin-left: 4rem;
        .scifi5{
            max-width: 50rem;
            max-height: 30rem;
        }
    }

  }
  }


@media only screen and (max-width: 620px) {
  h1{
      font-size: 8rem;
  }
  .hero .luis-info .info-2{
      font-size: 1.4rem;
  }
  .headline-info{
      br{
          display: none;
      }
  }
  .projects-section{
    .project-img{
        margin-right: 0rem;
        
        .scifi{
            max-width: 40rem;
            max-height: 20rem;
         
        }
    }
    .project-img2{
        margin-left: 0rem;
        margin-top: 8rem;
        .scifi2{
            max-width: 40rem;
            max-height: 20rem;
        }
    }

    .project-img3{
        margin-top: 8rem;
       padding-bottom: 0rem;
        margin-right: 0rem;
        .scifi3{
            max-width: 40rem;
            max-height: 20rem;
            
        }
    }
    .project-img4{
        margin-top: 8rem;
        padding-bottom: 0rem;
        margin-left: 0rem;
        .scifi4{
            max-width: 40rem;
            max-height: 20rem;
        }
    }
    .project-img5{
        margin-top: 8rem;
        padding-bottom: 4rem;
        // margin-left: 4rem;
        .scifi5{
            max-width: 40rem;
            max-height: 20rem;
        }
    }

  }
}


/*Media query for small and mid sized phones section  */

@media only screen and (max-width: 425px) {
    html,
    body {
    overflow-x: hidden;
    }

    .intro-text2 h1 {
        color: #f2f2f2;
        font-size: 5.6rem;
        text-align: center;
        font-family: 'Six Caps', sans-serif;
    }
    .main-head .btn-contact {
        background-color: transparent;
        padding: 8px 8px;
        width: 7rem;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid rgb(163, 163, 163);
      
        transition: all .4s ease-in-out;
        color: rgb(248, 246, 246);
        border-radius: 32px;
        &:hover {
            background-color: rgb(29, 29, 29);
            color: #F5F5F5;
        }
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 10rem 5rem;
        .luis-info {
            text-align: center;
            .info-2{
                padding-top: 2rem;
            }
        }
        .luis-bio {
            font-size: 5rem;
            padding-top: 1rem;
        }
        .me{
            border-radius: 2.4rem;
        }
        .scroll {
            margin-left: 0;
        }
    }
    .headline-info{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .headline-info p {
        font-size: 1.4rem;
        text-transform: uppercase;
        // br{
        //     display: block;
        // }
    }
    .projects-title {
        padding: 10rem 2rem;
    }
    .connect1{
        font-size: 1.4rem;
    }

    .projects-section{
        .project-info p{
            font-size: 2rem;
        }
        .project-img{
            margin-right: 0rem;
            
            .scifi{
                max-width: 35rem;
                max-height: 20rem;
             
            }
        }
        .project-img2{
            margin-left: 0rem;
            margin-top: 8rem;
            .scifi2{
                max-width: 35rem;
                max-height: 20rem;
            }
        }
    
        .project-img3{
            margin-top: 8rem;
           padding-bottom: 0rem;
            margin-right: 0rem;
            .scifi3{
                max-width: 35rem;
                max-height: 20rem;
                
            }
        }
        .project-img4{
            margin-top: 8rem;
            padding-bottom: 0rem;
            margin-left: 0rem;
            .scifi4{
                max-width: 35rem;
                max-height: 20rem;
            }
        }
        .project-img5{
            margin-top: 8rem;
            padding-bottom: 4rem;
            // margin-left: 4rem;
            .scifi5{
                max-width: 35rem;
                max-height: 20rem;
            }
        }
    
      }
}

// @media only screen and (max-width: 375px) {
//     .hero{
//         padding: 5rem 5rem; 
//    }
// }






/*About Styles  */

.active {
    color: black;
    font-weight: bold;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .design-title {
        margin-top: 5rem;
        margin-bottom: 4rem;
    }
}

.about-title h1 {
    font-size: 10rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
}

.about-me p {
    font-size: 2rem;
    margin-bottom: 4rem;
    line-height: 1.5;
}

.about-me a {
    color: #f2f2f2;
    &:hover {
        color: #0AF0FF;
    }
}

.my-picture2 {
   margin-top: 4rem;
   margin-bottom: 4rem;
}
.my-picture3 {
    margin-top: 4rem;
    margin-bottom: 15rem;
 }

.my-values p {
    font-size: 2rem;
}

.my-values h2 {
    font-size: 6rem;
    margin-top: 4rem;
}

.my-values h3 {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.last-value {
    margin-bottom: 4rem;
}

.me-about {
    width: 100%;
    padding-top: 0rem;
    margin-bottom: 0rem;
    max-width: 550px;
    max-height: 620px;
    margin-top: 3.2rem;
}


.my-skills h2 {
    font-size: 4rem;
}

.skills-title {
    font-size: 4rem;
    margin-top: 4rem;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8rem;
    
}

.skills-pic {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
    max-width: 700px;
    max-height: 500px;
    border-radius: 12px;
    transition: all .4s ease-in-out;
    // border: solid black 0.5px;
    // transition-duration: 0.4s;
    &:hover {
        transform: scale(1.1);
        // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }
}

.skills-pic1 {
    grid-column-start: 1/2;
}

@media only screen and (max-width: 700px) {
    
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    br{
        display: none;
    }
}


@media only screen and (max-width: 425px) {
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

//Blog Styles

.btn-posts {
    background-color: transparent;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid black;
    transition-duration: 0.4s;
    &:hover {
        background-color: black;
        color: #F5F5F5;
    }
}

.post-style {
    margin-bottom: 4rem;
    padding-left: 2rem;
    line-height: 2.4;
    h2{
        letter-spacing: 0.1rem;
        
    }
    p {
        font-size: 2rem;
        max-width: 46em;
        margin-bottom: 4rem;
        letter-spacing: 0rem;
        font-size: 2rem;
        color: #f2f2f2;
        // max-width: 90ch;
    }
    h3{
        font-size: 3.2rem;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 0;
        color: #f2f2f2;
    }
    img{
        margin-top: 4rem;
        max-width: 90rem;
        max-height: 50rem;
        border-radius: 3.2rem;
        margin-bottom: 6rem;
        
    }
}

.thank-you{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem;
    img{
        border-radius: 3.2rem;
        min-width: 60vw;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform:  scale(0.95, 0.95);
            transition: all 0.5s ease-in-out;
        }
    }
}

//adidas redesign
.adidas-design {
    width: 100%;
    padding-top: 0rem;
    margin-bottom: 4rem;
    max-width: 1000px;
    max-height: 1020px;
}

.design-title {
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.user-question li {
    font-size: 1.4rem;
    line-height: 1.5;
    list-style: initial;
    margin-left: 2rem;
     font-family: 'Open Sans', sans-serif;
}

.user-question {
    margin-bottom: 4rem;
}

.reflection-info {
    margin-top: 4rem;
}

.backto-top {
    max-width: 3rem;
    max-height: 3rem;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.6rem;
    color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    border: 1px solid rgb(163, 163, 163);
    background-color: transparent;
    transition-duration: 0.4s;
    &:hover {
      background-color: rgb(29, 29, 29);
            color: #F5F5F5;
    }
}

// More Work Page

.work-image {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    margin-bottom: 10rem;
    // width: 900px;
    // height: 600px;
    max-width: 900px;
    max-height: 900px;
}

.work-image:hover {
    // transform: scale(0.95, 0.95);
    // box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    // border-radius: 40px;
    transform: skewY(7deg) scale(0.95, 0.95);
    /* Firefox 16+, IE 10+, Opera */
    // -ms-transform: skewY(10deg);
    // /* IE 9 */
    // transform: skewY(10deg);
}


.my-picture2{
    position: relative;
}

.my-picture3{
    position: relative;
}
.my-picture4{
    position: relative;
}
.my-picture5{
    position: relative;
}

/* When you mouse over the container, fade in the overlay title */

.my-picture3:hover .overlay1 {
    opacity: 1;
}

.my-picture2:hover .overlay {
    opacity: 1;
}

.my-picture4:hover .overlay2 {
    opacity: 1;
}

.my-picture5:hover .overlay3 {
    opacity: 1;
}





/* The overlay effect - lays on top of the container and over the image */



.overlay1 {
    position: absolute;
    bottom: 85%;
    right: 55%;
    
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    // color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity: 0;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    p {
        font-size: 2.4rem;
    }
}

.overlay {
    position: absolute;
    
    bottom: 85%;
    right: 55%;
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    // color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity: 0;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    p {
        font-size: 2.4rem;
    }
}

.overlay2 {
    position: absolute;
    
    bottom: 85%;
    right: 55%;
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    // color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity: 0;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    p {
        font-size: 2.4rem;
    }
}

.overlay3 {
    position: absolute;
    display: inline-block;
    bottom: 85%;
    right: 55%;
    // background: rgb(0, 0, 0);
    // background: rgba(0, 0, 0, 0.5);
    /* Black see-through */
    // color: #f1f1f1;
    width: 50%;
    transition: .5s ease;
    opacity: 0;
    color: #f2f2f2;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    p {
        font-size: 2.4rem;
    }
}


/* When you mouse over the container, fade in the overlay title */

// CSS ANIMATION TEST
