@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import "./variables";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 6.4rem;
    letter-spacing: 0.1rem;
}

p {
    font-size: 3.2rem;
}


/* Intro video styles */

.intro-video {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text2 h1 {
    color: white;
    font-size: 6.4rem;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 1rem;
}

.slider {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}


/* base style for navbar & title */

.dots {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 15rem;
    height: 18rem;
    display: none;
}

.main-head {
    width: 95%;
    margin: 0 0 0 auto;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        min-height: 10vh;
        width: 90%;
        flex-wrap: wrap;
    }
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex: 1 1 10rem;
    }
    .logo a {
        margin: 2rem;
        font-size: 2.4rem;
        color: $secondaryColor;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        -ms-flex: 1 1 40rem;
        flex: 1 1 40rem;
        font-size: 1.6rem;
    }
    .btn-contact {
        background-color: white;
        padding: 10px 14px;
        text-align: center;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        font-size: 1.6rem;
        font-family: 'Quicksand', sans-serif;
        border: 1px solid black;
        transition-duration: 0.4s;
        &:hover {
            background-color: black;
            color: white;
        }
    }
}

nav li a:hover {
    text-transform: uppercase;
}

.name:hover {
    text-transform: uppercase;
}

.social-header,
.boxes {
    display: none;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8rem;
    margin-bottom: 11rem;
    .luis-info {
        .name {
            color: $secondaryColor;
        }
    }
}


/* 

.meet {
    display: flex;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    margin-left: 7rem;
    span {
        margin-left: 1rem;
        margin-top: 0.4rem;
    }
    h1 {
        background: -webkit-gradient(linear, left top, right top, from( #0cb9e4), to( #e055cc));
        background: linear-gradient(left, #0cb9e4, #e055cc);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        font-size: 5.6rem;
    }
    &:hover {
        text-transform: uppercase;
    }
    span {
        flex-direction: column;
        font-size: 4rem;
    }
}


*/


/*Hero section  */

.me {
    border-radius: 50%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 1rem;
    overflow-x: hidden;
}

.luis-info {
    .title {
        margin-bottom: 2rem;
        font-size: 5.6rem;
    }
}

.scroll {
    width: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 14rem;
}

.circle {
    animation: circleAnim 1.4s ease-in-out infinite alternate;
}

@keyframes circleAnim {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: translateY(30%);
    }
}


/*projects section  */

.projects-title {
    display: flex;
    margin: auto;
    align-self: center;
    text-align: center;
    justify-content: center;
    line-height: 2rem;
    margin-bottom: 4rem;
    .p-text {
        font-size: 2.4rem;
        font-weight: 200;
    }
}

.projects {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.elena img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.elena img:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    border-radius: 40px;
}


/* Footer section  */

.connect {
    text-align: center;
    font-weight: bolder;
    font-size: 2.4rem;
    margin-top: 8rem;
    letter-spacing: 0.1rem;
    line-height: 4rem;
}

.connect1 {
    text-align: center;
    font-size: 1.6rem;
    line-height: 8rem;
}

footer {
    min-height: 10vh;
    padding: 0% 5%;
}

footer ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.social-icons1 {
    margin-right: 3rem;
    width: 3em;
    height: 3rem;
}

.social-icons1,
.social-icons2 {
    margin-bottom: 8rem;
}

.social-icons2 {
    width: 3em;
    height: 3rem;
}

.social-icons1:hover {
    transform: scale(0.9, 0.9);
}

.social-icons2:hover {
    transform: scale(0.9, 0.9);
}


/*Media query for large section  */

@media (max-width:1050px) {
    .doodles {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 20%;
        right: 0%;
        bottom: 0;
    }
    .doodles2 {
        width: 10rem;
        height: 10rem;
        position: absolute;
        bottom: 0;
        left: 0%;
    }
    .doodles3 {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        bottom: 10%;
        left: 4%;
    }
    .doodles4 {
        display: none;
    }
    .doodles5 {
        display: none;
    }
    br {
        display: none;
    }
    .me {
        width: 35rem;
        height: 35rem;
    }
}

@media only screen and (min-width: 1050px) {
    .dots {
        display: inline;
        position: absolute;
        bottom: 0;
        top: 0;
        width: 19rem;
        height: 12rem;
        z-index: -1;
    }
    .main-head {
        width: 95%;
        margin: 0 0 0 auto;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            min-height: 10vh;
            width: 90%;
            flex-wrap: wrap;
        }
        .logo {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            flex: 1 1 10rem;
        }
        .logo a {
            margin: 2rem;
        }
        nav ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;
            -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
        }
        .btn-contact {
            padding: 10px 14px;
            text-align: center;
            text-decoration: none;
            margin: 4px 2px;
            cursor: pointer;
            font-size: 1.6rem;
            font-family: 'Quicksand', sans-serif;
            border: 1px solid black;
            transition-duration: 0.4s;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 8rem;
        margin-bottom: 9rem;
        .luis-info {
            grid: 1;
            justify-self: end;
            .title {
                margin-bottom: 2rem;
            }
            .name {
                color: $secondaryColor;
            }
        }
    }
    .me {
        width: 35rem;
        height: 35rem;
    }
    .doodles {
        width: 15rem;
        height: 15rem;
        position: absolute;
        top: 14%;
        bottom: 0;
    }
    .doodles2 {
        width: 15rem;
        height: 15rem;
        position: absolute;
        bottom: 0;
        left: 10%;
    }
    .doodles3 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 17%;
        left: 15%;
    }
    .doodles4 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 35%;
        right: 14%;
    }
    .doodles5 {
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 70%;
        left: 17%;
        display: none;
    }
    .scroll-img {
        text-align: center;
    }
    .circle {
        animation: circleAnim 1.4s ease-in-out infinite alternate;
    }
    @keyframes circleAnim {
        from {
            transform: translateY(-20%);
        }
        to {
            transform: translateY(30%);
        }
    }
    .elena {
        margin-bottom: 10rem;
    }
    .elena img:hover {
        transform: scale(0.9, 0.9);
        box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25), -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
        border-radius: 40px;
    }
    nav ul a {
        color: black;
    }
    .blue-outline:hover {
        background-color: $secondaryColor;
        color: aliceblue;
    }
    .purple-outline:hover {
        background-color: black;
        color: aliceblue;
    }
    .saiyan:hover {
        background-color: black;
        color: aliceblue;
    }
    .pink:hover {
        background-color: $secondaryColor;
        color: aliceblue;
    }
    .logo-name:hover {
        text-transform: uppercase;
    }
    .connect {
        text-align: center;
        font-weight: bolder;
        font-size: 2.4rem;
        margin-top: 8rem;
        letter-spacing: 0.1rem;
        line-height: 4rem;
    }
    .connect1 {
        text-align: center;
        font-size: 1.6rem;
        line-height: 8rem;
    }
    footer {
        min-height: 10vh;
        padding: 0% 5%;
    }
    footer ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2rem;
    }
    .social-icons1 {
        margin-right: 3rem;
        width: 3em;
        height: 3rem;
    }
    .social-icons1,
    .social-icons2 {
        margin-bottom: 8rem;
    }
    .social-icons2 {
        width: 3em;
        height: 3rem;
    }
    .social-icons1:hover {
        transform: scale(0.9, 0.9);
    }
    .social-icons2:hover {
        transform: scale(0.9, 0.9);
    }
}


/*Media query for tablets and mid sized screens section  */

@media only screen and (max-width: 768px) {
    .doodles2 {
        display: none;
    }
    .doodles3 {
        display: none;
    }
}

@media only screen and (max-width: 620px) {
    .me {
        width: 25rem;
        height: 25rem;
    }
    br {
        display: none;
    }
}


/*Media query for large and mid sized phones section  */

@media only screen and (max-width: 425px) {
    .doodles2 {
        display: none;
    }
    .doodles3 {
        display: none;
    }
    .intro-text2 h1 {
        color: white;
        font-size: 5.6rem;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }
    .hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        .luis-info {
            text-align: center;
        }
        .scroll {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 320px) {
    .doodles {
        width: 10rem;
        height: 10rem;
        position: absolute;
        top: 24%;
        right: 0%;
        bottom: 0;
    }
}